.photo-container {
    text-align: center;
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: 1.4fr 0.3fr 0.3fr 1.3fr;
    grid-template-rows: 20px minmax(1fr, 500px) 20px minmax(20px, 200px) 3px;
    grid-template-areas: 
        'header header header header'
        'photo photo photo photo'
        'likes nlikes comments ncomments'
        'description description description description'
        'linebreak linebreak linebreak linebreak';
}

.header {
    grid-area: header;
}
.photo {
    grid-area: photo;
}
.photo:hover{
    cursor: pointer;
}
.toggle-button {
    grid-area: likes;
    width: 25%;
    justify-self: right;
    stroke: var(--bold-colour);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
    width: 28px;
	height: 30px;
}
.toggle-button:hover {
    cursor: pointer;
}
.like-button {
	fill: none;
}
.unlike-button {
    fill: var(--strong-colour);
}
.like-number{
    grid-area: nlikes;
    justify-self: left;
    padding-top: 5px;
}
.liked-number {
    color: var(--bold-colour);
}
.comment-button {
    grid-area: comments;
    justify-self: right;
    stroke: var(--bold-colour);
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
    /* fill: var(--strong-colour); */
    width: 30px;
	height: 30px;
}
.comment-button:hover {
    cursor: pointer;
}
.comment-number {
    grid-area: ncomments;
    justify-self: left;
    padding-top: 5px;
}
.description {
    grid-area: description;
    background-color: var(--strong-colour);
    width: auto;
    border-radius: 10px;
}
.line {
    width: 100%;
    background-color: var(--strong-colour);
    height: 3px;
    border: none;
    grid-area: linebreak;
}

.photo-container img {
    /* restrict image size to fit grid area */
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
}

.photo-container button {
    align-self: baseline;
    background-color: var(--strong-colour);
    border: none;
    border-radius: 15px;
    color: var(--light-colour);
    pointer-events: auto;
    padding: 2px 10px 3px 10px;
}